<footer class="text-center text-white footer bg-dark  text-white mt-5" >
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg  m-1 text-white"
          href="#!"
          role="button"          
          ><i class="fab fa-facebook-f">1</i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg  m-1 text-white"
          href="#!"
          role="button"
          ><i class="fab fa-twitter">2</i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg  m-1 text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google">3</i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg  m-1 text-white"
          href="#!"
          role="button"
          ><i class="fab fa-instagram">4</i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg  m-1 text-white"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin">5</i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg m-1 text-white"
          href="#!"
          role="button"
          ><i class="fab fa-github">6</i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center  p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a  href="https://mdbootstrap.com/" target="_blank">{{autor.nombre + ' '+  autor.apellido}}   </a>
    </div>
    <!-- Copyright -->
  </footer>
